<h1>Парсинг фото городов из Google</h1>
<input id="cityName" type="text" placeholder="Введите название города">
<button id="getCollections">Отправить</button>
<div class="container" style="width: 90%; margin: 0 auto; display: flex; justify-content: space-around; flex-wrap: wrap;"></div>
