<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApiPhotosGoogle</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about-us">О нас</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
    <script src="index.js"></script>
</body>
</html>